@import url("https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css");

.home {
    height: 65vh;

    .arrow{
        font-size: 1.0rem;
    }
}

.col-12{
    padding: .01rem !important;
  }