name: Check Markdown links

on:
  push:
    branches:
      - '*'
  pull_request:

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    # checkout to latest commit
    - uses: actions/checkout@master
    
    - name: Link Checker
      id: lychee
      uses: lycheeverse/lychee-action@v2.6.1
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        args: "--verbose --exclude-mail ${{steps.preview.outputs.url}}"
        fail: true

    - name: Comment Broken Links
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        path: lychee/out.md
